[submodule "My-notes"]
	path = My-notes
	url = git@github.com:dschapman/My-note
[submodule "dschapman-com-content"]
	path = dschapman-com-content
	url = git@github.com:dschapman/dschapman-com-content
